<div>
  <h2>Add Course:</h2>
  <form [formGroup]="courseForm" (ngSubmit)="SubmitForm(false)">

      <div><label for="inputName">Name </label>
          <input type="text" id="inputName" formControlName="Name" placeholder="Ex: Art, Dance, Finances"></div>

      <div><label for="inputWorkload">Workload (in hours) </label>
          <input type="number" id="inputWorkload" formControlName="Workload"></div>

      <div><label for="inputArea">Area </label>
          <input type="text" id="inputArea" formControlName="Area" placeholder="Ex: exact sciences, human"></div>

      <div><label for="inputMonthlyFee">Monthly Fee (in R$) </label>
          <input type="number" id="inputMonthlyFee" formControlName="MonthlyFee"></div>

      <input type="submit" class="submitButton">
  </form>
</div>

<div *ngIf="editingCourse">
  <h2>Edit Course:</h2>
  <form [formGroup]="editForm" (ngSubmit)="SubmitForm(true)">

      <div><label for="inputName">Name </label>
          <input type="text" id="inputName" formControlName="Name" placeholder="Ex: Art, Dance, Finances"></div>

      <div><label for="inputWorkload">Workload (in hours) </label>
          <input type="number" id="inputWorkload" formControlName="Workload"></div>

      <div><label for="inputArea">Area </label>
          <input type="text" id="inputArea" formControlName="Area" placeholder="Ex: exact sciences, human"></div>

      <div><label for="inputMonthlyFee">Monthly Fee (in R$) </label>
          <input type="number" id="inputMonthlyFee" formControlName="MonthlyFee"></div>

      <input type="submit" class="submitButton">
  </form>
</div>

<div *ngFor="let course of courses; index as i">
  <div>
    <h3 [attr.data-index]="i">{{course.Name}}</h3>
    <p>Workload: {{course.Workload}} hours</p>
    <p>Area: {{course.Area}}</p>
    <p>Monthly Fee: {{course.MonthlyFee}} R$</p><br>
    <button type="button" (click)="OpenEditForm(course)">Edit</button>
    <button type="button" (click)="DeleteCourseById(course.id)">Delete</button>
  </div>
</div>

<router-outlet></router-outlet>